* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: var(--background-color);
    max-height: 100vh;
}

/* Scrollbar style */
::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-track {
    background: #2b2d2e;        /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: #666768;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.row {
    margin: 0;
}

.hide {
    display: none;
}

nav {
    border-bottom: 1px #393a3b solid;
    height: 10vh;
}

.title {
    color: var(--title-text-color);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
}

.title:hover {
    color: white;
}

.navbar-collapse {
   display: flex;
   justify-content: center;
}

.icons-container a i  {
    font-size: 30px;
    margin-right: 100px;
    color: var(--icon-color);
}

.icons-container a i:hover {
    color: white;
}

.boxUsers-container,
.boxMessage-container {
    border-right: 1px #393a3b solid;
    height: 90vh;
}

.boxUsers-container {
    overflow: auto;
}

.boxUser {
    height: 80px;
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
} 

.boxUser:hover {
    background-color: #3a3b3c;
}

h5 {
    font-size: 20px;
    font-weight: 200;
}

.userAvatar{
    margin-right: 5px;
}

.userAvatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.userName {
    margin-top: 10px;
}

.userMessage {
    display: inline-block;
}

/* Chatting */
.boxMessage-container {
    display: flex;
    flex-direction: column;
}

.chatting-container {
    height: 90%;
}

/* Heading Chatbox */


.heading-chatBox {
    position: fixed;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    width: 100%;
}

.header-userImage {
    margin-right: 10px;
}

.header-userImage img {
    width: 55px;
    height: var(--header-userImage-height);
    border-radius: 50%;
    object-fit: cover;
}

.heading-userName {
    font-size: 20px;
    font-weight: 400;
}

/* Body Chatbox */

.body-chatBox {
    position: relative;
    top: var(--header-userImage-height);
    overflow: auto;
    height: inherit;
}

.senderBox-left,
.senderBox-right {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.senderBox-left .sender-avatar img,
.senderBox-right .sender-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.senderBox-left {
    flex-direction: row;
    justify-content: flex-start;
}

.senderBox-right {
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}

.senderBox-right .sender-img {
    height: 300px;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.senderBox-left .sender-img {
    height: 300px;
    width: 300px;
    margin-left: 10px;
}

.senderBox-left .sender-img img,
.senderBox-right .sender-img img{
    height: inherit;
    width: inherit;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.delete-btn {
    color: #747881;
    margin-right: 20px;
    cursor: pointer;
}

.delete-btn:hover {
    font-size: 1.2rem;
}

.sender-message {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.sender-date {
    display: none;
    background-color: #cbcbcc;
    color: black;
    border-radius: 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
    margin-right: 5px;
}

.senderBox-left .sender-date {
    margin-left: 5px;
}

.sender-avatar:hover ~ .sender-date {
    display: block;
}

.sender-message:hover ~ .sender-date {
    display: block;
}

.senderBox-left .sender-message {
    margin-left: 10px;
}

.senderBox-right .sender-message {
    margin-right: 10px;
}




/* Footer Chatbox */
.sending-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.sending-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 100px;
    border: none;
    padding-left: 15px;
    background-color: #3a3b3c;
}

.message:focus {
    outline: none;
}

.smiling-icon {
    position: absolute;
    font-size: 25px;
    line-height: 40px;
    right: 10px;
    cursor: pointer;
    color: #df205c;
}

.list-emoji {
    position: absolute;
    flex-wrap: wrap;
    bottom: 40px;
    right: 0;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    background-color: #0b0c0e;
    overflow: auto;
    padding-left: 10px;
}

.list-emoji span {
    font-size: 24px;
    cursor: pointer;
}

.sending-btn-container {
    width: 9%;
    text-align: center;
}

.sending-btn {
    font-size: 30px;
    cursor: pointer;
    color:#df205c;
}

.sending-btn:hover {
    font-size: 35px;
}

.sending_img-container {
    display: none;
    height: 60px;
    width: 7%;
    bottom: 45px;
    border-radius: 10px;
    position: absolute;
    background-color: #3a3b3c;
}

.sending_img-container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 10;
}

.sendImg-btn {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    border-radius: 10px;

}

.sending_img-container:hover .sendImg-btn {
    display: block;
}

.image-icon {
    font-size: 33px;
    margin-right: 10px;
    cursor: pointer;
    color:#df205c;
}


/* ZOOMING */


/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 100%;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  